<div class="content-wrapper">
	<h1>Log In</h1>
	<%= form_tag sessions_path do %>
		<fieldset>
			<ol>
				<li>
					<%= label_tag :email %>
					<%= text_field_tag :email, params[:email] %>
				</li>
				<li>
					<%= label_tag :password %>
					<%= password_field_tag :password %>
				</li>
			</ol>
		</fieldset>
			<%= submit_tag 'Log In' %>
		<fieldset>
	<% end %>
</div>
