<div class="content-wrapper">

<% @articles.each do |article| %>
	<article class="post">
		<div>
			<h1><%= article.title %></h1>
			<div>
				<%= article.body %>
			</div>
			<aside>
				<div>
					<span><%= article.published_at.strftime("%d") %></span>
					<span><%= article.published_at.strftime("%B") %></span>	
					<span><%= article.published_at.strftime("%Y") %></span>
				</div>
			</aside>
		</div>
	</article>
	
  <%= link_to 'Show', article %>
  <%= link_to 'Edit', edit_article_path(article) %>
	<%= link_to 'Destroy', article, :confirm => 'Are you sure?', :method => :delete %>
<% end %>

<%= link_to 'New Article', new_article_path %>

</div>