<article class="post">
	<div>
		<hgroup>
			<h1><%= link_to @article.title, @article %></h1>
			<h2>
				<time datetime="2010-05-06" pubdate>
					<div>
						<span><%= @article.published_at.strftime("%d") %></span>
						<span><%= @article.published_at.strftime("%B") %></span>
						<span><%= @article.published_at.strftime("%Y") %></span>
					</div>
				</time>
			</h2>
		</hgroup>
		<section>
			<%= raw(@article.body) %>
		</section>
	</div>
	<% if current_user  %>
		<%= link_to 'Edit', edit_article_path(@article) %> |
		<%= link_to 'Back', articles_path %>
	<% end %>
</article>	

