<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	
	<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame 
			 Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>Blog</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!--  Mobile viewport optimized: j.mp/bplateviewport -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <%= stylesheet_link_tag 'style' %>
	<script src="http://use.typekit.com/ama4orc.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>
  <%= javascript_include_tag 'modernizr', 'jquery.min.js', 'hoverIntent', 'rails', 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
	<header role="banner">
		<div class="content-wrapper">
			<hgroup>
				<h1><a href="<%= root_url %>">Forebits</a></h1>
				<h2>A blog of Dimitar Haralanov</h2>
			</hgroup>
			<section id="socials">
				<ul>
					<li><%= link_to "Twitter", "http://twitter.com/dalizard" %></li>
					<li><%= link_to "Last.fm", "http://last.fm/user/dalizard" %></li>
					<li><%= link_to "Ember", "http://emberapp.com/dalizard/" %></li>
				</ul>
			</section>
			<nav>
 				<% if current_user %>
					<p>Logged in as <%= current_user.email %>
					<%= link_to 'Logout', logout_path  %>
				<% else %>
					<p><%= link_to 'Sign Up', signup_path %> or <%= link_to 'Log In', login_path %></p>
				<% end %>
			</nav>
		</div>
	</header>
	
	<section role="main">
		<div class="content-wrapper">
			<% flash.each do |name, msg| %>
				<%= content_tag :div, msg, :id => "flash_#{name}" %>
			<% end %>
			<%= yield %>
		</div>
	</section>
	
	<footer role="contentinfo">
			<div class="content-wrapper">
				<p>Copyright &copy; 2011 Dimitar Haralanov</p>
			</div>
	</footer>

<!--[if lt IE 7 ]>
  <%= javascript_include_tag 'dd_belatedpng' %>
  <script> DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images </script>
<![endif]-->

</body>
</html>
